<form name="container-form" method="POST" action="/courses/handle-form-actions" class="mt-4">
  <div>
    <h3>Khoá học của tôi</h3>
    <a href="/me/trash/courses">Thùng rác {{deletedCount}}</a>

    <div class="mt-4 d-flex align-items-center">
      <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
        <option value="">-- Chọn hành động --</option>
        <option value="delete">Xoá</option>
      </select>
      <button class="btn btn-primary btn-sm check-all-submit-btn" disabled>
        Thực hiện
      </button>
    </div>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"><input type="checkbox" id="checkbox-all"></th>
        <th>STT</th>
        <th scope="col">Tên khoá học {{{sortable 'name' _sort}}}</th>
        <th scope="col">Trình độ {{{sortable 'level' _sort}}}</th>
        <th scope="col">Thời gian đăng bài {{{sortable 'createdAt' _sort}}}</th>
        <th scope="col">Hành động</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <td>
          <input type="checkbox" name="courseIds[]" value="{{this._id}}" class="form-check-input course-item-checkbox">
        </td>
        <td>{{sum @index 1}}</td>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
          <a href="#" class="btn btn-link btn-delete-soft" data-id="{{this._id}}">Xóa</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="6" class="text-center">
          <p>Không có khoá học nào.</p>
          <a href="/courses/create">Đăng khoá học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

<!-- Delete Confirmation Modal -->
<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xoá</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xoá khoá học này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá</button>
      </div>
    </div>
  </div>
</div>
{{!-- Delete hidden form--}}
<form name="delete-course-form" method="POST"></form>
{{!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script> --}}
<script src="/js/stored-courses.js"></script>
